* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial,sans-serif;
    scroll-behavior: smooth;
}

/* Common */

.text-white {
    color: #fff;
}
.text-center {
    text-align: center !important;
}

.pull-right {
    float: right !important;
}
.btn {
    padding: 11px 16px;
    border: none;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.btn:hover {
    color: #000;
    background-color: #ccc;
}
.row {
   margin-left: -8px;
   margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-right: 8px;
    padding-left: 8px;
}

.col-full {
    width: 100%;
}
.col-half {
    width: 50%;
}
.col-third {
    width: calc(100%/3);
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}


/* Header */
#header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46px;
  background-color: #000;
  z-index: 1;
}

#header .search-btn {
    float: right;
}

#header .search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}

#header .search-icon {
    line-height: 46px;
    padding: 0 21px;
    color: #fff;
    font-size: 20px;
}

/* Navigation */
#nav {
    display: inline-block;
}

#nav .subnav {
    list-style-type: none;
}
#nav > li {
    display: inline-block;
}
#nav li {
    position: relative;
}

#nav > li:hover > a,
#nav .subnav li:hover{
    color: #000;
    background-color: #ccc;
}

#nav > li > a {
    color: #fff;
    background-color: #000;
    text-transform: uppercase;
}


#nav li a {
    display: inline-block;
    line-height: 46px;
    padding: 0 24px;
    font-size: 16px;
    text-decoration: none; 
}


#nav li:hover .subnav {
    display: block;
}

#nav .subnav {
    display: none;
    position: absolute;
    top:100%;
    left: 0;
    min-width: 160px;
    background-color: #fff;
    box-shadow : 0 0 10px rgba(0,0,0,0.3);
}

#nav .subnav a {
    padding: 0 12px;
    color: #000;
}

#nav .nav-arrow {
    font-size: 14px;
}

/* Slider */

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/slider/slider1.jpg') top center / cover no-repeat ;
}

#slider .slider-content {
    position: absolute;
    bottom: 47px;
    width: 100%;
    text-align: center;
    color: #fff;
}

#slider .slider-heading {
    font-weight: 500;
    font-size: 24px;
}

#slider .slider-desc {
    font-size: 15px;
    margin-top: 15px;
}

/* Content */

#content .content-section {
    width: 800px;
    margin: auto;
    padding: 64px 16px 112px;
}

#content .member-list {
    padding-top : 32px;
}

.content-section .section-heading {
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
}

.content-section .section-sub-heading {
    margin-top: 15px;
    font-size: 15px;
    font-style: italic;
    opacity: 0.6;
    text-align: center;
}

.content-section .section-text {
    font-size: 15px;
    margin: 15px 0;
    text-align: justify;
    line-height: 1.4;
}

/* About Section */
.member-list .member-name {
    font-size: 15px;
    margin: 15px 0;
}

.member-list .member-img {
    width: 154px;
}

/* Tour Section */
.tour-section {
    background-color: #000;
}

.ticket-list {
    margin-top: 48px;
    background-color: #fff;
    list-style-type: none;
}

.ticket-list li {
    padding: 11px 16px;
    color: #757575;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

.ticket-list .sold-out {
    padding: 3px 4px;
    margin-left: 16px;
    color: #fff;
    background-color: #f44336;
}

.ticket-list .quantity {
    float: right;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-top: -3px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    background-color: #000;
    
}

.place-list {
    margin-top: 32px;
}

.place-list .place-img {
    width: 100%;
    display: block;
}

.place-list .place-img:hover {
    opacity: 0.6;
}

.place-list .place-body {
    padding: 16px;
    background-color: #fff;
    font-size: 15px;
}

.place-body .place-heading {
    font-size: 15px;
    font-weight: 600;
}

.place-body .place-time {
    margin: 15px 0;
    color: #757575;
}

.place-body .place-desc {
    margin-bottom: 15px;
    line-height: 1.4;
}

/* Contact content */
.contact-content {
    margin-top: 48px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    display: inline-block;
    width: 30px;
}

.contact-form .input-form {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
}


.map-section img {
    width: 100%;
}

/* Footer */
#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list {
    font-size: 24px;
}

#footer a {
    color: rgba(0,0,0,0.6);
    text-decoration: none;
}

#footer .copy-right {
    padding: 15px;
}
/* Modal */
.modal {
    position: fixed;
    display: none ;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgb(0,0,0,0.3);
}

.modal.open {
    display: flex;
}

.modal-container {
    position: relative;
    background-color: #fff;
    width: 900px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modalFadeIn ease .5s;
}



.modal-header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    color: #fff;
    background-color: #009688;
    font-size: 30px;
}

.modal-heading-icon {
    margin-right: 16px;
}

.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 12px;
    color: #fff;
    cursor: pointer;
    opacity: 0.8;
}
.modal-close:hover {
    opacity: 1;
}

.modal-body {
    padding: 16px;
}

.modal-title {
    display: block;
    margin-bottom: 12px;
    font-size: 15px;
}

.modal-input {
    margin-bottom: 24px;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 15px;
    
}

#buy-tickets {
    width: 100%;
    padding: 18px;
    border: none;
    color: #fff;
    background-color: #009688;
    font-size: 15px;
    cursor: pointer;
    text-transform: uppercase;
}

#buy-tickets:hover {
    opacity: 0.9;
}

.modal-footer {
    padding: 16px;
    text-align: right;
}

.footer-help a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}